In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats

In [13]:
policier = pd.read_csv("C:/Users/Dell/Desktop/eval_mongodb/crim_plce_1_Data_2.csv")
policier = policier.drop(columns=['UNIT', 'Flag and Footnotes'])
policier = policier.rename(columns={"Value": "nb_policier"})
policier.head()

   TIME                                                GEO nb_policier
0  1998                                           Belgique       36419
1  1998                                           Tchéquie       43888
2  1998                                           Danemark        9962
3  1998  Allemagne (jusqu'en 1990, ancien territoire de...      237786
4  1998                                            Estonie        4089

In [14]:
infra = pd.read_csv("C:/Users/Dell/Desktop/eval_mongodb/crim_gen_1_Data.csv", sep=',')
infra = infra.drop(columns=['UNIT', 'Flag and Footnotes'])
infra = infra[infra['ICCS'] == 'Total']
infra = infra.rename(columns={"Value": "nb_infra"})

#infra = infra.groupby(['GEO', 'TIME'])['Value'].mean()
#infra = infra.to_frame()
#infra = infra.reset_index()
infra

,TIME,GEO,ICCS,nb_infra
0,1998,Belgique,Total,NaN
5,1998,Bulgarie,Total,163988.0
10,1998,Tchéquie,Total,425930.0
15,1998,Danemark,Total,499167.0
20,1998,"Allemagne (jusqu'en 1990, ancien territoire de...",Total,6456996.0
25,1998,Estonie,Total,45721.0
30,1998,Irlande,Total,85627.0
35,1998,Grèce,Total,385681.0
40,1998,Espagne,Total,1865572.0
45,1998,France,Total,3565525.0
50,1998,France (métropolitaine),Total,3565525.0
55,1998,Croatie,Total,56015.0
60,1998,Italie,Total,2425748.0
65,1998,Chypre,Total,4316.0
70,1998,Lettonie,Total,36674.0
75,1998,Lituanie,Total,78149.0
80,1998,Luxembourg,Total,27155.0
85,1998,Hongrie,Total,600621.0
90,1998,Malte,Total,14793.0
95,1998,Pays-Bas,Total,1234900.0
100,1998,Autriche,Total,479859.0
105,1998,Pologne,Total,1073042.0
110,1998,Portugal,Total,341122.0
115,1998,Roumanie,Total,399105.0
120,1998,Slovénie,Total,55259.0
125,1998,Slovaquie,Total,93895.0
130,1998,Finlande,Total,423794.0
135,1998,Suède,Total,1181056.0
140,1998,England et Wales,Total,5105764.0
145,1998,Scotland,Total,431551.0
...,...,...,...,...
1800,2007,France,Total,3589293.0
1805,2007,France (métropolitaine),Total,3589293.0
1810,2007,Croatie,Total,75857.0
1815,2007,Italie,Total,2933146.0
1820,2007,Chypre,Total,7556.0
1825,2007,Lettonie,Total,55620.0
1830,2007,Lituanie,Total,67990.0
1835,2007,Luxembourg,Total,28252.0
1840,2007,Hongrie,Total,426914.0
1845,2007,Malte,Total,15005.0
1850,2007,Pays-Bas,Total,1303835.0
1855,2007,Autriche,Total,594240.0
1860,2007,Pologne,Total,1152993.0
1865,2007,Portugal,Total,398575.0
1870,2007,Roumanie,Total,281457.0
1875,2007,Slovénie,Total,88197.0
1880,2007,Slovaquie,Total,110802.0
1885,2007,Finlande,Total,435824.0
1890,2007,Suède,Total,1306324.0
1895,2007,England et Wales,Total,4952277.0
1900,2007,Scotland,Total,385509.0
1905,2007,Northern Ireland (UK),Total,108468.0
1910,2007,Islande,Total,13038.0
1915,2007,Liechtenstein,Total,1075.0
1920,2007,Norvège,Total,271712.0
1925,2007,Suisse,Total,326232.0
1930,2007,Monténégro,Total,9258.0
1935,2007,Ancienne République yougoslave de Macédoine,Total,26224.0
1940,2007,Serbie,Total,104862.0
1945,2007,Turquie,Total,970554.0

In [17]:
merge = pd.merge(policier, infra,  how='left', left_on=['TIME','GEO'], right_on = ['TIME','GEO'])
merge = merge.dropna(subset=['nb_policier'])
merge = merge.dropna(subset=['nb_infra'])
final = merge[merge.nb_policier != ":"]
final

,TIME,GEO,nb_policier,ICCS,nb_infra
1,1998,Tchéquie,43888,Total,425930.0
2,1998,Danemark,9962,Total,499167.0
3,1998,"Allemagne (jusqu'en 1990, ancien territoire de...",237786,Total,6456996.0
4,1998,Estonie,4089,Total,45721.0
5,1998,Irlande,11235,Total,85627.0
6,1998,Grèce,45389,Total,385681.0
8,1998,France,223582,Total,3565525.0
9,1998,France (métropolitaine),223582,Total,3565525.0
10,1998,Croatie,22577,Total,56015.0
11,1998,Italie,265093,Total,2425748.0
12,1998,Chypre,3987,Total,4316.0
13,1998,Lettonie,10878,Total,36674.0
14,1998,Lituanie,14181,Total,78149.0
15,1998,Luxembourg,1136,Total,27155.0
16,1998,Hongrie,30382,Total,600621.0
17,1998,Malte,1756,Total,14793.0
18,1998,Pays-Bas,32088,Total,1234900.0
19,1998,Autriche,26817,Total,479859.0
20,1998,Pologne,99285,Total,1073042.0
21,1998,Portugal,46104,Total,341122.0
22,1998,Roumanie,48803,Total,399105.0
23,1998,Slovénie,6821,Total,55259.0
24,1998,Slovaquie,13988,Total,93895.0
25,1998,Finlande,7889,Total,423794.0
26,1998,Suède,16429,Total,1181056.0
27,1998,England et Wales,126814,Total,5105764.0
28,1998,Scotland,14854,Total,431551.0
32,1998,Norvège,7384,Total,293799.0
33,1998,Suisse,14367,Total,378045.0
35,1998,Turquie,322766,Total,357311.0
...,...,...,...,...,...
330,2007,Grèce,51152,Total,423422.0
331,2007,Espagne,214920,Total,2309859.0
332,2007,France,238478,Total,3589293.0
333,2007,France (métropolitaine),238478,Total,3589293.0
334,2007,Croatie,20424,Total,75857.0
335,2007,Italie,247510,Total,2933146.0
336,2007,Chypre,5139,Total,7556.0
337,2007,Lettonie,8222,Total,55620.0
338,2007,Lituanie,11173,Total,67990.0
339,2007,Luxembourg,1519,Total,28252.0
340,2007,Hongrie,26334,Total,426914.0
341,2007,Malte,1933,Total,15005.0
342,2007,Pays-Bas,35363,Total,1303835.0
343,2007,Autriche,26623,Total,594240.0
344,2007,Pologne,98337,Total,1152993.0
345,2007,Portugal,47276,Total,398575.0
346,2007,Roumanie,50453,Total,281457.0
347,2007,Slovénie,7971,Total,88197.0
348,2007,Slovaquie,22512,Total,110802.0
349,2007,Finlande,8156,Total,435824.0
350,2007,Suède,17866,Total,1306324.0
351,2007,England et Wales,140514,Total,4952277.0
352,2007,Scotland,16221,Total,385509.0
353,2007,Northern Ireland (UK),7431,Total,108468.0
354,2007,Islande,683,Total,13038.0
355,2007,Liechtenstein,93,Total,1075.0
356,2007,Norvège,7464,Total,271712.0
357,2007,Suisse,16199,Total,326232.0
358,2007,Ancienne République yougoslave de Macédoine,9599,Total,26224.0
359,2007,Turquie,329533,Total,970554.0